.venv
/build/
*.egg-info
*.pyc
/.idea/
/venv/
/data/
/outputs/
__pycache__

# datasets & cache (large files)
gluefactory/datasets/mitsubishi/
gluefactory/datasets/mitsubishi.zip

# results images
/results/
